<fieldset>
  <legend>Add post</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="title">Title</label><br>
    <input class="form-control" id="title" type="text" name="title"/>
  </div>

  <!-- MOVIE TITLE -->
  {{!-- <div class="form-group">
    <label for="movieTitle">Post Title</label><br>
    <input class="form-control" id="movieTitle" type="text" name="movieTitle"/>
  </div> --}}

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="description">Post Description</label><br>
    <textarea class="form-control" id="description" name="description" rows="10" /></textarea>
  </div>
</fieldset>